html,body {background:#C0DEED;height:100%;font-family: helvetica,Arial,"Microsoft Yahei","微软雅黑","华文细黑","宋体";}
html {overflow-y:scroll;}
.bg1 {height:0px;width:100%;background:url(../image/attend/bg.jpg);position:fixed;bottom:0px;z-index:0;}

.header {height:40px;width:100%;background: url(../image/attend/header_bg.png);-moz-box-shadow:0 0 3px #2f4d52;-webkit-box-shadow:0 0 3px #2f4d52;box-shadow:0 0 3px #2f4d52;position:fixed;top:0;z-index:999;}
.header .mid {text-align:center;color:#BBB;font-size:18px;line-height:40px;font-weight:bold;cursor:default;}
.header .mid span:hover {color:white;}
.header .left {position:absolute;left:20px;top:10px;color:#eeeeee;font-size:14px;}
.header .right {position:absolute;right:20px;top:10px;color:#eeeeee;font-size:14px;}
.header .right i {vertical-align:-1px;}

.footer {text-align:center;margin-top:20px;position:relative;z-index:100;margin-bottom:20px;color:#cfcfcf;}

.main_content {width:970px;margin:0 auto;z-index:100;position:relative;padding-top:70px;height:100%;}
.fill_content {height:auto;padding-bottom: 30px;}
.container1 {background:#ffffff;padding:20px;margin-top:20px;}
.container1:first-child {margin-top:20px;}

.login {background:#ffffff;width:650px;padding:40px;-moz-box-shadow:0 0 1px #747474;-webkit-box-shadow:0 0 1px #747474;box-shadow:0 0 1px #747474;margin:0 auto;}
.login .intro {}
.login .form_div {margin-top:20px;padding-top:20px;border-top:1px solid #eeeeee;padding-left:50px;padding-right:50px;}

.ad {float:left;width:340px;}
.ad .item {background:#ffffff;padding:15px;margin-top:15px;-moz-box-shadow:0 0 1px #747474;-webkit-box-shadow:0 0 1px #747474;box-shadow:0 0 1px #747474;}
.ad .item:first-child {margin:0;}

.question {float:left;padding:20px;padding-bottom:30px;background:#ffffff;width:710px;-moz-box-shadow:0 0 1px #747474;-webkit-box-shadow:0 0 1px #747474;box-shadow:0 0 1px #747474;padding-top:60px;min-height:100%;}
.question .name {text-align:center;font-size:18px;font-weight:bold;color:#1d8bc3;}
.question .desc {margin-top:20px;}
.question .answer {margin-top:20px;border-top:1px solid #e8e8e8;padding-top:20px;}
.question .answer .lang {}
.question .answer .editor {width:100%;height:300px;border:2px solid #e8e8e8;margin-top:10px;}
.question .answer .result {width:100%;height:300px;border:2px solid #e8e8e8;margin-top:10px;display:none;}
.question .answer .result textarea {height:100%;width:100%;border:none;outline:none;padding:15px;}
.question .answer .button {margin-top:20px;border-top: 1px solid #E8E8E8;padding-top: 20px;}
.question .answer .button .it {display:inline-block;margin-left:10px;}
.question .answer .button .it:first-child {margin:0;}
.question .answer .status {margin-top:20px;}
.question .answer .radio{margin: 0 !important;padding: 0;padding-top: 6px;padding-bottom: 6px;min-height: 30px;overflow: hidden;}
.question .answer .radio input{display: none;}
.question .answer .radio .icon{float: left;width: 18px;height: 22px;background-repeat: no-repeat;}
.question .answer .radio input[type="radio"] + .icon{background-image: url(../image/attend/radio.png);background-position: 0 2px;}
.question .answer .radio input[type="checkbox"] + .icon{background-image: url(../image/attend/check.png);background-position: 0 2px;}
.question .answer .radio label:hover > input[type="radio"] + .icon{background-image: url(../image/attend/radio.png);background-position: -18px 2px;}
.question .answer .radio label:hover > input[type="checkbox"] + .icon{background-image: url(../image/attend/check.png);background-position: -18px 2px;}
.question .answer .radio label:hover > input[type="radio"]:checked + .icon{background-image: url(../image/attend/radio.png);background-position: -36px 2px;}
.question .answer .radio label:hover > input[type="checkbox"]:checked + .icon{background-image: url(../image/attend/check.png);background-position: -36px 2px;}
.question .answer .radio input[type="radio"]:checked + .icon{background-image: url(../image/attend/radio.png);background-position: -36px 2px;}
.question .answer .radio input[type="checkbox"]:checked + .icon{background-image: url(../image/attend/check.png);background-position: -36px 2px;}
.question .answer .radio .choice_content{float: left;line-height: 22px;padding-left: 10px;}
.question .load {text-align:center;line-height:30px;display:none;}
.question .item {margin-bottom: 15px;line-height: 25px;}
.question .item .title{font-weight: bold;margin-bottom: 2px;font-size: 18px;}

.navi {float:left;width:240px;background:#ffffff;-moz-box-shadow:0 0 1px #747474;-webkit-box-shadow:0 0 1px #747474;box-shadow:0 0 1px #747474;overflow:hidden;margin-bottom:30px;position:fixed;margin-left:730px;margin-top:35px;padding-top:5px;max-height: 100%;}
.navi .tt {height:40px;line-height:40px;text-align:center;border-bottom:1px solid #e8e8e8;}
.navi .item {height:40px;line-height:40px;border-bottom:1px solid #e8e8e8;padding-left:35px;cursor:pointer;}
.navi .active {color:#ffffff;background:#3f91cb;background-size:20px 20px;}
.navi .item:hover {background:#eeeeee;}
.navi .active:hover {background:#3f91cb;}

.form_div {}
.form_div .head {font-size:16px;font-weight:normal;font-weight:bold;color:#1e8ec7;text-align:center;}
.form_div .content {margin-top:20px;}
.form_div .content .item  {margin-top:15px;font-size:14px;}
.form_div .content .item:first-child {margin-top:0;}
.form_div .content .item .tt {padding-left:1px;color:#000000;}
.form_div .content .item .ct {width:100%;margin-top:8px;}
.form_div .content .item .tip {float:right;color:#d9534f;}
.form_div .content .submit {margin-top:25px;}
.form_div .content .item input {padding-left:8px;padding-right:8px;padding-top:4px;-moz-box-shadow:0 0px 1px #dbdbdb;-webkit-box-shadow:0 0px 1px #dbdbdb;box-shadow:0px 0px 1px #dbdbdb;}
.form_div .content .item input[type="text"] {height:35px;font-size:14px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.form_div .content .item input[type="text"]:focus {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border:1px solid #66afe9;}
.form_div .content .item input[type="password"] {height:35px;font-size:14px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.form_div .content .item input[type="password"]:focus {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border:1px solid #66afe9;}
.form_div .content .item input[type="submit"] {height:40px;font-size:14px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;outline:none;}
.form_div .content .item input[type="submit"]:focus {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border:1px solid #66afe9;}
.form_div .content .item input[type="button"] {height:40px;font-size:14px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;outline:none;}
.form_div .content .item input[type="button"]:focus {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border:1px solid #66afe9;}
.form_div .content .item select {height:40px;font-size:14px;cursor:pointer;}
.form_div .content .item textarea {height:200px;font-size:14px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding-left:8px;padding-right:8px;padding-top:8px;-moz-box-shadow:0 0px 1px #dbdbdb;-webkit-box-shadow:0 0px 1px #dbdbdb;box-shadow:0px 0px 1px #dbdbdb;}
.form_div .content .item textarea:focus {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border:1px solid #66afe9;}
.form_div .content .item label {font-weight:normal;cursor:pointer;}
.form_div .content .item .file {height:40px;}

.form_div input[type="radio"] {visibility:hidden;display:none;width:0;height:0;margin:0;padding:0;}
.form_div input[type="radio"] + .icon  {padding-left:18px;width:18px;height:18px;background:url('../image/icon/radio.png') no-repeat 0px 0px;vertical-align:-1px;}
.form_div input[type="radio"]:hover + .icon {background:url('../image/icon/radio.png') no-repeat -18px 0px;}
.form_div input[type="radio"]:checked + .icon {background:url('../image/icon/radio.png') no-repeat -36px 0px;}
.form_div input[type="radio"] + .icon + .desc {vertical-align:1px;margin-left:8px;}
.form_div input[type="checkbox"] {visibility:hidden;display:none;width:0;height:0;margin:0;padding:0;}
.form_div input[type="checkbox"] + .icon  {padding-left:18px;width:18px;height:18px;background:url('../image/icon/check.png') no-repeat 0px 0px;display:inline-block;vertical-align: -4px;}
.form_div label:hover > .icon {background:url('../image/icon/check.png') no-repeat -18px 0px;}
.form_div input[type="checkbox"]:checked + .icon {background:url('../image/icon/check.png') no-repeat -36px 0px;}
.form_div input[type="checkbox"] + .icon + .desc {height:18px;margin-left:8px;}
.form_div label {cursor:pointer;}

.submit_modal_btn span{border-radius: 0;height: 40px;line-height: 40px;padding: 0;margin: 0;}


.item_list{overflow: auto;height: 500px;}
#myModal{overflow: hidden;}
.modal-dialog {padding-top: 100px;}
.tool{float: right;}
.bg{
	height: 250px;
	background-image: url(/image/attend/bg.png);
	background-repeat: no-repeat;
	background-position: left 65px;
	background-attachment: fixed;
	background-color: #8EC1DA;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: -1;
}